body{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/81eAGJbr59L._SL1200_.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover ;
    display:flex;
    justify-content: center;
    width: 100vw;
}
#myCanvas{
    
    margin: 0px center;
    opacity: .7;
    background-color:slategrey;
    border: 4px double yellow;
    
}
